
.slot{
width: 235px;
height: 180px;
border: solid 4px #454545;
border-radius: 25px;
transition: border-width 0.6s linear;
float: left;
margin: 10px;
display: inline-block;
vertical-align: top;
text-align: right;
padding: 10px;
}
.slot:hover {
border-color: #008C00;
background: #f4fdf4;
}
.search{
  padding-top: 10px;
}
h1{
	color: #whitesmoke;
	text-align: center;
}
p{
  padding: 20px;
	color: black;
	text-align: center;
}
body {
  background-color: #EBECF0;
}

.banner {
      border: solid 4px #454545;
      background-color: #83f28f;
      color: 28231D;
      padding: 2px;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
};

