
#container {
height: 85%;
width: 85%;
}

#chart {
max-width: 85%;
max-height: 85%;
margin: 35px auto;
}

#search-box {
	display: block;
}
h1{
	color: #39FF14;
	text-align: center;
}
p{
	color: black;
	text-align: center;
}
body {background-color: darkgrey;}